# Ignore items in the data folder
analysisReady/
existingPV/
incomeALL/
incomeMA/
incomeMAShape/
intersections/
irradiation/
MAshape/
roofprintsBoston/
roofprintsMilton/
roofprintsNewton/
roofsALL/
supplyCurve/
copies/


# Ignore individual .csv files
PVCosts2020.csv
supplyCurve.csv
taxByIncome2019.csv
blockGroupsTEMP.csv


# Ignore jupyter notebook checkpoints
*.ipynb_checkpoints/



