# Ignore items in the data folder
existingPV/
incomeMA/
incomeMAShape/
MAshape/
roofprintsBoston/
roofprintsMilton/
roofprintsNewton/
supplyCurve/
copies/


# Ignore individual .csv files
PVCosts2020.csv
supplyCurve.csv
taxByIncome2019.csv


# Ignore jupyter notebook checkpoints
*.ipynb_checkpoints/



